extends layout

block content
  h1 Edit this Event
  p= userActivity.doneOn
  form(action='/restricted/userActivities/edit', method='post')
    input(type='text',  value= userActivity.howMany , required='')
    input(type='date', value= userActivity.doneOn, required='')
    input(type='hidden', value= userActivity.id, name='id')
    button(type='submit') Add Activity Event
