extends layout

block content
  h1 Stat Tracker
  h3 Please Login to see your personal Stat Tracker
  form(action='/userLogin/login', method='post')
    input(type='text', placeholder='User Name', name='username', required='')
    input(type='text', placeholder='Password', name='password', required='')
    button(type='submit', name='userLogin') Login
  h3 Don't have an account? Create one now
  form(action='/userLogin/register', method='post')
    input(type='text', placeholder='Your Name', name='name', required='')
    input(type='text', placeholder='User Name', name='username', required='')
    input(type='text', placeholder='Password', name='password', required='')
    button(type='submit', name='userLogin') Register


  h4 Make a new activity
  form(action='/activityLog/add', method='post')
    input(type='text', placeholder='Activity Name', name='activityName', required='')
    button(type='submit') Add Activity

  
  
