extends layout

block content
  h1 testing #{user.name}
  h2 

  table
    thead
      tr
        td How long you did it for
        td When you did it
    tbody
      tr
        td #{howMany}
        td #{doneOn}
