body {
  padding: 3em;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: #00b7ff;
}

input[type="text"] {
  font-size: 1.25em;
  padding: 0.2em;
  margin: 0 0.2em 0 0;
}
button {
  font-size: 1em;
  border-radius: 5px;
  background-color: darkblue;
  color: lightgray;
  padding: 0.3em;
  border-right-color: black;
  border-bottom-color: black;
  border-top-color: darkblue;
  border-left-color: darkblue;
}
